.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 90vh;
  background: url("../img/background4.jpg") center center no-repeat;
  background-size: contain;
  background-position: bottom;
}
.addUser-container {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 40vh;
  justify-content: space-between;
}

.inputUserProp,
.submit {
  padding: 3%;
  text-align: center;
}

.inputUserProp::placeholder {
  text-align: center;
}
.title {
  font-weight: bold;
  color: brown;
}
