.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(180, 3, 3);
  height: 2rem;
  padding: 1rem;
}
.nav-bar a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 1rem;
  padding: 0.5rem;
}
.nav-bar a.active,
.nav-bar a:hover {
  color: var(--primary-purple);
}
.nav-bar a.active {
  text-decoration: underline;
}
